<p>{new Date().toLocaleTimeString()}</p>

<style>
	body {
		font-family: 'Helvetica Neue', sans-serif;
		height: 100%;
	}
	p {
		display: grid;
		font-size: clamp(16px, 5vw, 100px);
		height: 100vh;
		place-items: center;
	}
</style>
